.container
	.hero-unit
		h1 Your new identity:
		br
		h2 Your new name is <span class="highlighter"> #{first_name} #{last_name}</span>, and you work for <span class="highlighter">#{company}</span>.
		h2 Your company description:  <span class="highlighter">#{description}</span>
		h2 You live in <span class="highlighter">#{city}, #{state}.</span>