.container
	.hero-unit
		h1 Your new ID:
		br
		h2 Your new name is #{first_name} #{last_name}, and you work for #{company}.
		h2 Your company description: #{description}
		h2 You live in #{city}, #{state}.